<% if @category_assessment.has_exemptions? %>
  <table>
    <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @category_assessment.exemptions.each do |ex| %>
      <tr id="<%= dom_id(ex) %>">
        <td><%= ex.code %></td>
        <td><%= ex.description %></td>
        <td>
          <%= link_to 'Remove',
                      remove_exemption_green_lanes_category_assessment_path(@category_assessment, exemption_id: ex.id),
                      method: :delete,
                      class: 'govuk-button govuk-button--warning',
                      data: { confirm: "Are you sure?", disable: 'Working ...' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<h3>
  Add Exemptions
</h3>

<%= govuk_form_for @category_assessment_exemption, url: add_exemption_green_lanes_category_assessment_path(@category_assessment), method: :post, as: :cae do |f| %>

  <%= f.govuk_collection_select :exemption_id,
                                @exemptions,
                                :id,
                                :label,
                                options: { include_blank: 'Select an Exemption' },
                                label: { text: 'Select an Exemption' } %>

  <%= f.govuk_submit 'Add' %>
<% end %>



