<%= govuk_breadcrumbs 'Category Assessments': green_lanes_category_assessments_path %>

<h2>Edit Category Assessment</h2>

<%= render 'form', category_assessment: @category_assessment %>

<h2>Direct Goods Nomenclature</h2>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<%= render 'green_lanes/category_assessments/measures' %>

<h2>Direct Exemptions</h2>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<%= render 'green_lanes/category_assessments/exemptions' %>

<h3>Remove Category Assessment</h3>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p>
  Remove this Category Assessment
</p>

<%= link_to 'Remove',
            green_lanes_category_assessment_path(@category_assessment),
            method: :delete,
            class: 'govuk-button govuk-button--warning',
            data: { confirm: "Are you sure?", disable: 'Working ...' } %>
