<h2>
  Manage category assessments
</h2>

<%= link_to 'Add a Category Assessment', new_green_lanes_category_assessment_path, class: 'govuk-button' %>

<% if @category_assessments.any? %>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Measure type id</th>
      <th>Regulation id</th>
      <th>Regulation role</th>
      <th>Theme</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @category_assessments.each do |category| %>
      <tr id="<%= dom_id(category) %>">
        <td><%= category.id %></td>
        <td><%= category.measure_type_id %></td>
        <td><%= category.regulation_id %></td>
        <td><%= category.regulation_role %></td>
        <td><%= category.theme.code %></td>
        <td>
          <%= link_to 'Edit',
                      edit_green_lanes_category_assessment_path(category) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @category_assessments %>
<% else %>
  <div class="govuk-inset-text">
    <p>No Category Assessments</p>
  </div>
<% end %>
