<h1 class="govuk-heading-l">Search for Nomenclature Label</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: search_goods_nomenclature_labels_path, method: :get, local: true do |f| %>
      <div class="govuk-form-group">
        <%= f.label :commodity_code, "Commodity code", class: "govuk-label govuk-label--m" %>
        <div class="govuk-hint">
          Enter the 10-digit commodity code to view or edit its label.
        </div>
        <%= f.text_field :commodity_code,
                         class: "govuk-input govuk-input--width-10",
                         inputmode: "numeric",
                         pattern: "[0-9]*",
                         maxlength: 10 %>
      </div>

      <%= f.submit "Search", class: "govuk-button", data: { module: "govuk-button" } %>
    <% end %>
  </div>
</div>

<% if @stats.present? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Label Statistics</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Total labels</dt>
          <dd class="govuk-summary-list__value"><%= number_with_delimiter(@stats.total_labels) %></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">With description</dt>
          <dd class="govuk-summary-list__value"><%= number_with_delimiter(@stats.with_description) %></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">With known brands</dt>
          <dd class="govuk-summary-list__value"><%= number_with_delimiter(@stats.with_known_brands) %></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">With colloquial terms</dt>
          <dd class="govuk-summary-list__value"><%= number_with_delimiter(@stats.with_colloquial_terms) %></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">With synonyms</dt>
          <dd class="govuk-summary-list__value"><%= number_with_delimiter(@stats.with_synonyms) %></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">By Origin</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">AI-created only</dt>
          <dd class="govuk-summary-list__value"><%= number_with_delimiter(@stats.ai_created_only) %></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Human-edited</dt>
          <dd class="govuk-summary-list__value"><%= number_with_delimiter(@stats.human_edited) %></dd>
        </div>
      </dl>
    </div>
  </div>
<% end %>
