<%= govuk_breadcrumbs 'Descriptions': "#{goods_nomenclature_self_texts_path}#labels" %>

<h1 class="govuk-heading-l">
  Commodity Label <%= @goods_nomenclature_label.goods_nomenclature_item_id %>
</h1>

<%= form_with model: @goods_nomenclature_label,
              url: goods_nomenclature_label_path(@goods_nomenclature_label.goods_nomenclature_item_id),
              method: :patch,
              local: true do |f| %>

  <% if @goods_nomenclature_label.errors.any? %>
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <% @goods_nomenclature_label.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <dl class="govuk-summary-list govuk-!-margin-bottom-6">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Commodity code</dt>
      <dd class="govuk-summary-list__value"><%= link_to @goods_nomenclature_label.goods_nomenclature_item_id, "#{TradeTariffAdmin.frontend_host}/commodities/#{@goods_nomenclature_label.goods_nomenclature_item_id}", class: "govuk-link", target: "_blank", rel: "noopener noreferrer" %></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">SID</dt>
      <dd class="govuk-summary-list__value"><%= @goods_nomenclature_label.goods_nomenclature_sid %></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Input description</dt>
      <dd class="govuk-summary-list__value"><%= @goods_nomenclature_label.original_description || "-" %></dd>
    </div>

    <% if @goods_nomenclature_label.has_self_text %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Self-text</dt>
        <dd class="govuk-summary-list__value">
          <%= link_to "View self-text", goods_nomenclature_self_text_path(@goods_nomenclature_label.goods_nomenclature_sid), class: "govuk-link" %>
        </dd>
      </div>
    <% end %>
  </dl>

  <div class="govuk-form-group">
    <%= f.label :description, class: "govuk-label govuk-label--m" do %>
      Description
      <% ds = @goods_nomenclature_label.description_score %>
      <% if ds %>
        <strong class="govuk-tag govuk-tag--<%= @goods_nomenclature_label.score_tag_colour(ds) %> scored-tag-pill__score"><%= ds.round(2) %></strong>
      <% end %>
    <% end %>
    <div class="govuk-hint">
      The simplified or clarified description for this commodity code.
    </div>
    <%= f.text_area :description,
                    class: "govuk-textarea",
                    rows: 3,
                    value: @goods_nomenclature_label.description %>
  </div>

  <div class="govuk-form-group"
       data-controller="scored-tag-list"
       data-scored-tag-list-terms-value="<%= @goods_nomenclature_label.known_brands.to_json %>"
       data-scored-tag-list-scores-value="[]"
       data-scored-tag-list-scored-value="false">
    <label class="govuk-label govuk-label--m" for="lb-known-brands-input">Known brands</label>
    <div class="govuk-hint">Not scored.</div>
    <div data-scored-tag-list-target="tags" class="govuk-!-margin-bottom-2"></div>
    <input id="lb-known-brands-input" class="govuk-input" data-scored-tag-list-target="input"
           data-action="keydown->scored-tag-list#add" placeholder="Add a brand and press Enter">
    <textarea name="goods_nomenclature_label[known_brands_text]" data-scored-tag-list-target="hidden" style="display:none"><%= @goods_nomenclature_label.known_brands_text %></textarea>
  </div>

  <div class="govuk-form-group"
       data-controller="scored-tag-list"
       data-scored-tag-list-terms-value="<%= @goods_nomenclature_label.colloquial_terms.to_json %>"
       data-scored-tag-list-scores-value="<%= Array(@goods_nomenclature_label.colloquial_term_scores).to_json %>"
       data-scored-tag-list-scored-value="true">
    <label class="govuk-label govuk-label--m" for="lb-colloquial-terms-input">Colloquial terms</label>
    <div class="govuk-hint">Informal or everyday names traders might use.</div>
    <div data-scored-tag-list-target="tags" class="govuk-!-margin-bottom-2"></div>
    <input id="lb-colloquial-terms-input" class="govuk-input" data-scored-tag-list-target="input"
           data-action="keydown->scored-tag-list#add" placeholder="Add a term and press Enter">
    <textarea name="goods_nomenclature_label[colloquial_terms_text]" data-scored-tag-list-target="hidden" style="display:none"><%= @goods_nomenclature_label.colloquial_terms_text %></textarea>
  </div>

  <div class="govuk-form-group"
       data-controller="scored-tag-list"
       data-scored-tag-list-terms-value="<%= @goods_nomenclature_label.synonyms.to_json %>"
       data-scored-tag-list-scores-value="<%= Array(@goods_nomenclature_label.synonym_scores).to_json %>"
       data-scored-tag-list-scored-value="true">
    <label class="govuk-label govuk-label--m" for="lb-synonyms-input">Synonyms</label>
    <div class="govuk-hint">Alternative names or technical terms.</div>
    <div data-scored-tag-list-target="tags" class="govuk-!-margin-bottom-2"></div>
    <input id="lb-synonyms-input" class="govuk-input" data-scored-tag-list-target="input"
           data-action="keydown->scored-tag-list#add" placeholder="Add a synonym and press Enter">
    <textarea name="goods_nomenclature_label[synonyms_text]" data-scored-tag-list-target="hidden" style="display:none"><%= @goods_nomenclature_label.synonyms_text %></textarea>
  </div>

  <% if policy(@goods_nomenclature_label).update? %>
    <div class="govuk-button-group">
      <%= f.submit "Save changes", class: "govuk-button", data: { module: "govuk-button" } %>
    </div>
  <% end %>
<% end %>
