<%= govuk_breadcrumbs 'Sections' => synonyms_sections_path %>

<h2>Search synonyms for <%= section.reference_title %></h2>

<%= link_to 'New Search Synonym', new_synonyms_section_search_reference_path(section), class: 'govuk-button' %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th class="hott-actions-col">
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% @search_references.each do |search_reference| %>
      <tr id="<%= dom_id(search_reference) %>">
        <td><%= search_reference.title %></td>
        <td class="hott-link-group">
          <%= link_to "Edit", edit_synonyms_section_search_reference_path(section, search_reference) %>
          <%= link_to "Remove", synonyms_section_search_reference_path(section, search_reference), method: :delete, data: { confirm: 'Are you sure?', disable: 'Working'}, class: 'btn btn-small btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @search_references %>
