<h2>Edit Chapter <%= @chapter_note.chapter_id %> Note</h2>

<p class="govuk-body">
  Update version: <%= @update.version %>
  &nbsp;
  <%= link_to 'Back to chapter notes',
        customs_tariff_update_section_chapter_notes_path(@update.version, @section_id),
        class: 'govuk-link' %>
</p>

<% if @update.rejected? %>
  <%= govuk_inset_text do %>
    This file has been rejected. To edit individual notes, set it back to pending.
  <% end %>
<% else %>
  <div class="govuk-grid-row"
       data-controller="tariff-note-preview"
       data-tariff-note-preview-url-value="<%= customs_tariff_chapter_note_preview_path %>">
    <div class="govuk-grid-column-one-half">
      <%= form_with model: @chapter_note,
                    url: customs_tariff_update_chapter_note_path(@update.version, @chapter_note.chapter_id),
                    method: :patch do |f| %>
        <%= hidden_field_tag :section_id, @section_id %>
        <div class="govuk-form-group">
          <%= f.label :content, 'Content', class: 'govuk-label govuk-label--m' %>
          <%= f.text_area :content, rows: 20, class: 'govuk-textarea',
                          data: { tariff_note_preview_target: 'content',
                                  action: 'input->tariff-note-preview#update' } %>
        </div>
        <div class="govuk-button-group">
          <%= f.submit 'Save', class: 'govuk-button' %>
          <%= link_to 'Cancel',
                customs_tariff_update_section_chapter_notes_path(@update.version, @section_id),
                class: 'govuk-link' %>
        </div>
      <% end %>
    </div>

    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Preview</h2>
      <div class="govuk-body tariff-note-preview" data-tariff-note-preview-target="preview">
        <%= @chapter_note.preview %>
      </div>
    </div>
  </div>
<% end %>

<% if policy(@chapter_note).destroy? %>
  <h3>Remove chapter note</h3>

  <p>Remove this chapter note</p>

  <%= link_to "Remove",
              customs_tariff_update_chapter_note_path(@update.version, @chapter_note.chapter_id, section_id: @section_id),
              method: :delete,
              data: { confirm: 'Are you sure?', disable: 'Working' },
              class: 'govuk-button govuk-button--warning' %>
<% end %>

<% if @chapter_note.version_objects.any? %>
  <%= render 'versions/history_section',
        versions: @chapter_note.version_objects,
        can_restore: policy(@chapter_note).update?,
        view_path_helper: nil,
        restore_path_helper: ->(v) { restore_version_path(v.resource_id, section_id: @section_id, update_version: @update.version) } %>
<% end %>
