<%= govuk_breadcrumbs 'Sections': references_sections_path,
                      'Headings': references_chapter_headings_path(chapter_id: heading.chapter.id),
                      'Search references': references_heading_search_references_path(heading) %>

<h2>Edit Search reference</h2>

<%= govuk_form_for search_reference, url: references_heading_search_reference_path(heading, search_reference), as: :search_reference do |f| %>
  <%= f.hidden_field :original_title, value: search_reference.title %>
  <%= f.govuk_text_field :title, width: 'one-half' %>

  <%= render "references/release_services_fieldset", form: f %>

  <%= submit_and_back_buttons f, references_heading_search_references_path(heading) %>
<% end %>
