<h2>Search references</h2>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Chapters</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @sections.each do |section| %>
      <tr id='<%= dom_id(section) %>'>
        <td><%= section.position %></td>
        <td><%= link_to section.chapters_range, synonyms_section_chapters_path(section) %></td>
        <td><%= section.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "synonyms/shared_actions" %>
