<h2>Section search synonyms</h2>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Chapters</th>
      <th>Title</th>
      <th class="hott-actions-col">Synonyms</th>
    </tr>
  </thead>
  <tbody>
    <% @sections.each do |section| %>
      <tr id='<%= dom_id(section) %>'>
        <td><%= section.position %></td>
        <td><%= link_to section.chapters_range, synonyms_section_chapters_path(section) %></td>
        <td><%= section.title %></td>
        <td class="hott-link-group">
          <div>
            <%= pluralize section.search_references_count, "synonym" %>
          </div>
          <%= link_to 'Edit', synonyms_section_search_references_path(section) %>
          <% if section.search_references_count > 0 %>
            <%= link_to 'Export', export_synonyms_section_search_references_path(section), method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "synonyms/shared_actions" %>
