<%= govuk_breadcrumbs 'Sections': references_sections_path,
                      'Chapters': references_section_chapters_path(section_id: chapter.section.id) %>

<h2>Headings search references of chapter <%= chapter.description.titleize %></h2>

<table>
  <thead>
    <tr>
      <th>Heading</th>
      <th>Commodities</th>
      <th>Title</th>
      <th class="hott-actions-col">Search references</th>
    </tr>
  </thead>
  <tbody>
    <% @headings.each do |heading| %>
      <tr id="<%= dom_id(heading) %>">
        <td><%= heading.heading_id %></td>
        <td>
          <%= link_to "Commodities in #{heading.to_param}", references_heading_commodities_path(heading) %>
        </td>
        <td><%= heading.description.titleize %></td>
        <td class="hott-link-group">
          <div>
            <%= pluralize heading.search_references_count, "reference" %>
          </div>
          <%= link_to 'Edit', references_heading_search_references_path(heading) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
