<%= govuk_breadcrumbs 'Sections': references_sections_path,
                      'Chapters': references_section_chapters_path(section_id: chapter.section.id) %>

<h2>Search references for <%= chapter.reference_title %></h2>

<% if policy(SearchReference).create? %>
  <%= link_to 'Create new search reference', new_references_chapter_search_reference_path(chapter), class: 'govuk-button' %>
<% end %>

<% if @search_references.none? %>
  <p class="govuk-body">No search references are applied to this category.</p>
<% else %>
  <table class='table table-bordered table-striped table-condensed table-search-references'>
    <thead>
      <tr>
        <th>Title</th>
        <th class="hott-actions-col">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <% @search_references.each do |search_reference| %>
        <tr id="<%= dom_id(search_reference) %>">
          <td><%= search_reference.title %></td>
          <td class="hott-link-group">
            <% if policy(search_reference).update? %>
              <%= link_to "Edit", edit_references_chapter_search_reference_path(chapter, search_reference), class: 'btn btn-small btn-warning' %>
            <% end %>
            <% if policy(search_reference).destroy? %>
              <%= link_to "Remove", references_chapter_search_reference_path(chapter, search_reference), method: :delete, data: { confirm: 'Are you sure?', disable: 'Working'}, class: 'btn btn-small btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
