<%= link_to 'Back', quota_search_path, class: 'govuk-back-link' %>

<h1>Quota <%= @current_quota_definition.quota_order_number_id %> - definitions and balances</h1>

<%= render "quotas/current_quota_definition", current_quota_definition: @current_quota_definition %>

<h1>Definition periods for quota <%= @current_quota_definition.quota_order_number_id %></h1>

<%= render "quotas/quota_definition", quota_definitions: @quota_definitions %>

<p>
  Changes to quota balance for quota definition <%= @current_quota_definition.id %> running from <%= @current_quota_definition.validity_start_date&.to_date&.to_formatted_s(:govuk) %> to <%= @current_quota_definition.validity_end_date&.to_date&.to_formatted_s(:govuk) %>
</p>

<p>
  Initial volume is <%= @current_quota_definition.initial_volume %> <%= @current_quota_definition.measurement_unit %>
</p>

<%= tag.div tag.canvas(
  id: "quota-definitions-chart",
  width: "800",
  height: "450",
  data: {
    measurementunitcode: @current_quota_definition.measurement_unit,
    importedamounts: @current_quota_definition.imported_amounts,
    newbalances: @current_quota_definition.new_balances,
    occurrencetimestamps: @current_quota_definition.occurrence_timestamps,
  }
) %>

<%= javascript_pack_tag 'quota-definition-chart' %>
