<%= link_to 'Back', quota_search_path, class: 'govuk-back-link' %>

<h1>Quota <%= @current_quota_definition.quota_order_number_id %> - definitions and balances</h1>

<%= render "quotas/current_quota_definition", current_quota_definition: @current_quota_definition %>

<h1>Definition periods for quota <%= @current_quota_definition.quota_order_number_id %></h1>

<%= render "quotas/quota_definitions", quota_definitions: @quota_definitions %>
