<%= link_to 'Back', quota_search_path, class: 'govuk-back-link' %>

<h1>Quota <%= @quota_definition.quota_order_number_id %></h1>

<p>
  Changes to quota balance for quota definition <%= @quota_definition.id %> running from <%= @quota_definition.validity_start_date.to_date.to_formatted_s(:govuk) %> to <%= @quota_definition.validity_end_date.to_date.to_formatted_s(:govuk) %>
</p>

<p>
  Initial volume is <%= @quota_definition.initial_volume %> <%= @quota_definition.measurement_unit %>
</p>

<%= tag.div tag.canvas(
  id: "quota-definitions-chart",
  width: "800",
  height: "450",
  data: { 
    measurementunitcode: @quota_definition.measurement_unit,
    importedamounts: @quota_definition.imported_amounts,
    newbalances: @quota_definition.new_balances,
    occurrencetimestamps: @quota_definition.occurrence_timestamps,
  }
) %>

<%= javascript_pack_tag 'quota-definition-chart' %>
