<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= link_to "Back to search diagnostics", search_diagnostics_path, class: "govuk-back-link" %>

    <h1 class="govuk-heading-l">Search diagnostics</h1>

    <% contextual_events = @search_diagnostic.events? ? search_diagnostic_events_with_context(@search_diagnostic.events) : [] %>
    <% overview = search_diagnostic_overview(contextual_events) if contextual_events.any? %>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Request ID</dt>
        <dd class="govuk-summary-list__value"><%= @search_diagnostic.request_id %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Log group</dt>
        <dd class="govuk-summary-list__value"><%= @search_diagnostic.log_group_name %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Log search window</dt>
        <dd class="govuk-summary-list__value">
          <%= search_diagnostic_time_range(@search_diagnostic) %>
        </dd>
      </div>
      <% if overview&.dig(:query).present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Query</dt>
          <dd class="govuk-summary-list__value"><%= overview[:query] %></dd>
        </div>
      <% end %>
      <% if overview&.dig(:outcome_tags).present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Outcome</dt>
          <dd class="govuk-summary-list__value"><%= safe_join(overview[:outcome_tags].map { |tag| search_diagnostic_overview_tag(tag) }, " ") %></dd>
        </div>
      <% end %>
      <% if overview&.dig(:route_tags).present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Route</dt>
          <dd class="govuk-summary-list__value"><%= safe_join(overview[:route_tags].map { |tag| search_diagnostic_overview_tag(tag) }, " ") %></dd>
        </div>
      <% end %>
      <% if overview&.dig(:results).present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Results</dt>
          <dd class="govuk-summary-list__value"><%= overview[:results] %></dd>
        </div>
      <% end %>
      <% if overview&.dig(:selected_results).present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Selected</dt>
          <dd class="govuk-summary-list__value"><%= safe_join(overview[:selected_results].map { |result| search_diagnostic_overview_selected_result_link(result) }, ", ") %></dd>
        </div>
      <% end %>
    </dl>

    <% if @search_diagnostic.events? %>
      <% timeline_events = search_diagnostic_timeline_events(contextual_events) %>

      <% if timeline_events.any? %>
        <% highlighted_timeline_events = search_diagnostic_significant_timeline_events(timeline_events) %>

        <section class="search-diagnostics-timeline" aria-labelledby="search-diagnostics-timeline-title">
          <div class="search-diagnostics-timeline__header">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0" id="search-diagnostics-timeline-title">Search event timeline</h2>
            <p class="govuk-body-s govuk-!-margin-bottom-0">Key events are listed below. Significant events are shown with larger markers.</p>
          </div>

          <div class="search-diagnostics-timeline__track" aria-hidden="true">
            <ol class="search-diagnostics-timeline__events">
              <% timeline_events.each do |event| %>
                <li class="search-diagnostics-timeline__event <%= 'search-diagnostics-timeline__event--significant' if event[:significant] %>" style="--position: <%= event[:position] %>%;">
                  <a class="search-diagnostics-timeline__marker-link" href="#<%= event[:id] %>">
                    <span class="search-diagnostics-timeline__marker"></span>
                    <span class="search-diagnostics-timeline__label">
                    <span class="search-diagnostics-timeline__time"><%= event[:time] %></span>
                    <span class="search-diagnostics-timeline__name"><%= event[:name] %></span>
                    </span>
                  </a>
                </li>
              <% end %>
            </ol>
          </div>

          <ol class="search-diagnostics-timeline__list govuk-list">
            <% highlighted_timeline_events.each do |event| %>
              <li>
                <span class="search-diagnostics-timeline__list-time"><%= event[:time] %></span>
                <span class="search-diagnostics-timeline__list-name"><%= event[:name] %></span>
                <span class="search-diagnostics-timeline__list-type"><%= event[:search_type] %></span>
              </li>
            <% end %>
          </ol>
        </section>
      <% end %>

      <% iteration_summaries = search_diagnostic_iteration_summaries(contextual_events) %>
      <% if iteration_summaries.any? %>
        <section aria-labelledby="search-diagnostics-iterations-title">
          <h2 class="govuk-heading-m" id="search-diagnostics-iterations-title">Internal search iterations</h2>
          <table class="govuk-table search-diagnostics-iterations">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Iteration</th>
                <th scope="col" class="govuk-table__header">Effective query</th>
                <th scope="col" class="govuk-table__header">Added answers</th>
                <th scope="col" class="govuk-table__header">Retrieval</th>
                <th scope="col" class="govuk-table__header">Model</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <% iteration_summaries.each do |summary| %>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Iteration <%= summary[:iteration] %></td>
                  <td class="govuk-table__cell"><%= summary[:effective_query].presence || "-" %></td>
                  <td class="govuk-table__cell"><%= Array(summary[:added_answers]).presence&.join(", ") || "-" %></td>
                  <td class="govuk-table__cell"><%= summary[:retrieval].presence || "-" %></td>
                  <td class="govuk-table__cell"><%= summary[:model].presence || "-" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </section>
      <% end %>

      <table class="govuk-table search-diagnostics-events">
        <caption class="govuk-table__caption govuk-table__caption--m">Search journey events</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Time</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Event</th>
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Summary</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Diagnostics</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% contextual_events.each_with_index do |event, index| %>
            <tr class="govuk-table__row" id="<%= search_diagnostic_event_dom_id(index) %>">
              <td class="govuk-table__cell" data-label="Time"><%= search_diagnostic_event_time(event) %></td>
              <td class="govuk-table__cell" data-label="Event"><%= search_diagnostic_event_name(event) %></td>
              <td class="govuk-table__cell" data-label="Type"><%= search_diagnostic_search_type(event) %></td>
              <td class="govuk-table__cell" data-label="Summary"><%= search_diagnostic_event_summary(event) %></td>
              <td class="govuk-table__cell" data-label="Diagnostics">
                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">View diagnostics</span>
                  </summary>
                  <div class="govuk-details__text">
                    <%= search_diagnostic_event_details(event) %>
                  </div>
                </details>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="govuk-body">No search journey events were found for this request ID.</p>
    <% end %>
  </div>
</div>
