<h2>
  Green Lanes Update Notifications
</h2>


<% if @updates.any? %>
  <table>
    <thead>
    <tr>
      <th>Measure Type Id</th>
      <th>Regulation Id</th>
      <th>Regulation Role</th>
    </tr>
    </thead>
    <tbody>
    <% @updates.each do |update| %>
      <tr id="<%= dom_id(update) %>">
        <td><%= update.measure_type_id %></td>
        <td><%= update.regulation_id %></td>
        <td><%= update.regulation_role %></td>
        <td>
          <%= link_to 'Edit',
                      edit_green_lanes_update_notification_path(update) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @updates %>
<% else %>
  <div class="govuk-inset-text">
    <p>No any Green Lanes Update Notifications</p>
  </div>
<% end %>
