<h2>
  Manage Green Lanes Exemptions
</h2>

<%= link_to 'Add a Exemption', new_green_lanes_exemption_path, class: 'govuk-button' %>

<% if @exemptions.any? %>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @exemptions.each do |ex| %>
      <tr id="<%= dom_id(ex) %>">
        <td><%= ex.id %></td>
        <td><%= ex.certificate_type_code %></td>
        <td><%= ex.certificate_code %></td>
        <td>
          <%= link_to 'Edit',
                      edit_green_lanes_exemption_path(ex) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% else %>
  <div class="govuk-inset-text">
    <p>No any Green Lanes Exception</p>
  </div>
<% end %>
