<h1>New Rollback</h1>

<%= govuk_form_for @rollback do |f| %>
  <%= f.govuk_text_area :reason %>
  <%= f.govuk_text_field :date, width: 'one-third' %>
  <%= f.govuk_check_boxes_fieldset :keep, multiple: false do %>
    <%= f.govuk_check_box :keep, 1, 0, multiple: false, link_errors: true %>
  <% end %>
  
  <%= f.govuk_text_field :confirm_service,
    label: { text: 'Confirm the service to rollback' },
    hint: { text: 'UK or XI' },
    width: 'one-quarter'
  %>

  <%= submit_and_back_buttons f, rollbacks_path %>
<% end %>
