<h1>New Rollback</h1>

<%= govuk_form_for @rollback do |f| %>
  <%= f.govuk_text_area :reason %>
  <%= f.govuk_text_field :date, width: 'one-third' %>
  <%= f.govuk_check_boxes_fieldset :keep, multiple: false do %>
    <%= f.govuk_check_box :keep, 1, 0, multiple: false, link_errors: true %>
  <% end %>

  <div class="govuk-button-group">
    <%= f.govuk_submit 'Create Rollback' %>
    <%= link_to "Back", rollbacks_path, class: 'govuk-button govuk-button--secondary' %>
  </div>
<% end %>
