<% form_data = %w[options multi_options nested_options].include?(configuration.config_type) ? { controller: 'config-form' } : {} %>

<%= govuk_form_for configuration,
                   as: :classification_configuration,
                   url: classification_configuration_path(configuration),
                   html: { data: form_data } do |f| %>

  <% case configuration.config_type %>
  <% when "markdown" %>
    <%= govuk_markdown_area f, :value, rows: 10, label: { text: "Value" } %>
  <% when "boolean" %>
    <%= f.govuk_collection_radio_buttons :value,
                                         [OpenStruct.new(id: "true", name: "Yes"), OpenStruct.new(id: "false", name: "No")],
                                         :id,
                                         :name,
                                         legend: { text: "Value" } %>
  <% when "integer" %>
    <%= f.govuk_number_field :value, label: { text: "Value" } %>
  <% when "date" %>
    <%= f.govuk_text_field :value,
                           label: { text: "Value" },
                           hint: { text: "YYYY-MM-DD" },
                           width: "one-third" %>
  <% when "options" %>
    <% options = configuration.value.is_a?(Hash) ? (configuration.value["options"] || []) : [] %>
    <% selected = configuration.value.is_a?(Hash) ? configuration.value["selected"] : "" %>

    <input type="hidden"
           name="classification_configuration[value]"
           value="<%= configuration.value.is_a?(Hash) ? configuration.value.to_json : configuration.value %>"
           data-config-form-target="hiddenField">

    <div class="govuk-form-group">
      <label class="govuk-label" for="options-selected-value">Selected value</label>
      <div class="govuk-hint">Choose which option is the active value</div>
      <select class="govuk-select"
              id="options-selected-value"
              data-action="change->config-form#updateOption">
        <option value="">-- Select a value --</option>
        <% options.each do |opt| %>
          <option value="<%= opt["key"] %>" <%= "selected" if opt["key"] == selected %>><%= opt["label"] || opt["key"] %></option>
        <% end %>
      </select>
    </div>
  <% when "multi_options" %>
    <% options = configuration.value.is_a?(Hash) ? (configuration.value["options"] || []) : [] %>
    <% selected_values = configuration.value.is_a?(Hash) ? Array(configuration.value["selected"]) : [] %>

    <input type="hidden"
           name="classification_configuration[value]"
           value="<%= configuration.value.is_a?(Hash) ? configuration.value.to_json : configuration.value %>"
           data-config-form-target="hiddenField">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Selected values</legend>
        <div class="govuk-hint">Choose which options are active for this configuration</div>
        <div class="govuk-checkboxes">
          <% options.each do |opt| %>
            <% option_key = opt["key"] %>
            <% option_label = opt["label"] || option_key %>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input"
                     id="multi-option-<%= option_key %>"
                     type="checkbox"
                     value="<%= option_key %>"
                     <%= "checked" if selected_values.include?(option_key) %>
                     data-action="change->config-form#updateMultiOption">
              <label class="govuk-label govuk-checkboxes__label" for="multi-option-<%= option_key %>">
                <%= option_label %>
              </label>
            </div>
          <% end %>
        </div>
      </fieldset>
    </div>
  <% when "nested_options" %>
    <% options = configuration.value.is_a?(Hash) ? (configuration.value["options"] || []) : [] %>
    <% selected_value = configuration.value.is_a?(Hash) ? configuration.value["selected"] : "" %>
    <% sub_values = configuration.value.is_a?(Hash) ? (configuration.value["sub_values"] || {}) : {} %>

    <input type="hidden"
           name="classification_configuration[value]"
           value="<%= configuration.value.is_a?(Hash) ? configuration.value.to_json : configuration.value %>"
           data-config-form-target="hiddenField">

    <div class="govuk-form-group">
      <label class="govuk-label" for="nested-options-selected">Selected value</label>
      <div class="govuk-hint">Choose the primary value for this configuration</div>
      <select class="govuk-select"
              id="nested-options-selected"
              data-config-form-target="nestedSelect"
              data-action="change->config-form#updateNestedOption">
        <option value="">-- Select a value --</option>
        <% options.each do |opt| %>
          <option value="<%= opt["key"] %>"
                  data-sub-options="<%= (opt["sub_options"] || {}).to_json %>"
                  <%= "selected" if opt["key"] == selected_value %>><%= opt["label"] || opt["key"] %></option>
        <% end %>
      </select>
    </div>

    <div data-config-form-target="nestedSubOptionsContainer" data-sub-values="<%= sub_values.to_json %>"></div>
  <% else %>
    <%= f.govuk_text_area :value,
                          label: { text: "Value" },
                          rows: 6 %>
  <% end %>

  <%= submit_and_back_buttons f, classification_configurations_path %>
<% end %>
