<%= govuk_form_for news_item do |f| %>
  <%= f.govuk_text_field :title, width: 'one-half' %>

  <%= f.govuk_text_field :slug, width: 'one-half' if f.object.persisted? || f.object.slug.present? %>

  <%= govuk_markdown_area f, :precis, rows: 6 %>

  <%= govuk_markdown_area f, :content, rows: 12 %>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Replaceable service tags
      </span>
    </summary>
    <div class="govuk-details__text">
      <p>
        These are pieces of text you can insert into your content and they
        will be replaced with content appropriate to the service the user is viewing
      </p>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            [[SERVICE_NAME]]
          </dt>
          <dd class="govuk-summary-list__value">
            Either <em>UK Integrated Online Tariff</em> or
            <em>Northern Ireland Online Tariff</em>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            [[SERVICE_REGION]]
          </dt>
          <dd class="govuk-summary-list__value">
            Either <em>the UK</em> or <em>Northern Ireland</em>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            [[SERVICE_PATH]]
          </dt>
          <dd class="govuk-summary-list__value">
            Useful for links that work for both UK and XI services, eg
            <pre>[Browse]([[SERVICE_PATH]]/browse)</pre>
          </dd>
        </div>
      </dl>
    </div>
  </details>

  <%= f.govuk_text_field :start_date, width: 'one-third' %>
  <%= f.govuk_text_field :end_date, width: 'one-third' %>

  <%= f.govuk_check_boxes_fieldset :display do %>

    <%= f.govuk_check_box :show_on_uk, 1, 0,
                          label: { text: 'Show on UK service' },
                          multiple: false,
                          link_errors: true %>

    <%= f.govuk_check_box :show_on_xi, 1, 0,
                          label: { text: 'Show on XI service' },
                          multiple: false,
                          link_errors: true %>

    <%= f.govuk_check_box :show_on_home_page, 1, 0,
                          label: { text: 'Show News story on the Home page' },
                          multiple: false,
                          link_errors: true %>

    <%= f.govuk_check_box :show_on_updates_page, 1, 0,
                          label: { text: 'Show News story on the Updates page' },
                          multiple: false,
                          link_errors: true %>

    <%= f.govuk_check_box :show_on_banner, 1, 0,
                          label: { text: 'Show News story on the Banner' },
                          multiple: false,
                          link_errors: true %>
  <% end %>

  <%= f.govuk_collection_check_boxes :collection_ids,
                                     collections,
                                     :id,
                                     :name if collections.any? %>

  <%= submit_and_back_buttons f, news_items_path %>
<% end %>
