<%= simple_form_for news_item do |f| %>
  <%= f.input :title %>
  <%= f.input :content, as: :text %>
  <%= f.input :start_date, input_html: { 'data-behaviour' => 'datepicker' } %>
  <%= f.input :end_date, hint: 'YYYY/MM/DD or leave blank for no end date' %>
  <%= f.input :show_on_uk, as: :boolean, label: 'Show on UK service' %>
  <%= f.input :show_on_xi, as: :boolean,label: 'Show on XI service' %>
  <%= f.input :show_on_home_page, as: :boolean, label: 'Show News story on the Home page' %>
  <%= f.input :show_on_updates_page, as: :boolean, label: 'Show News story on the Updates page' %>

  <div>
    <%= f.button :submit, data: { 'disable-with' => 'Working' } %>
    <%= link_to "Back", :back, class: 'btn' %>
  </div>
<% end %>
