<h2>
  Manage news stories
</h2>

<p>
  Use these pages function to manage news stories, 'Stop Press'
  and tariff notices. You can also use this functionality to
  <%= link_to 'manage news story collections', news_collections_path %>.
</p>

<%= link_to 'Add a News story', new_news_item_path, class: 'govuk-button' %>

<% if @news_items.any? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Start date</th>
        <th>End date</th>
        <th>UK</th>
        <th>XI</th>
        <th>Pages</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @news_items.each do |news_item| %>
        <tr id="<%= dom_id(news_item) %>">
          <td><%= news_item.id %></td>
          <td><%= truncate news_item.title %></td>
          <td><%= news_item_date news_item.start_date %></td>
          <td><%= news_item_date news_item.end_date %></td>
          <td><%= news_item_bool news_item.show_on_uk %></td>
          <td><%= news_item_bool news_item.show_on_xi %></td>
          <td><%= format_news_item_pages news_item %></td>
          <td>
            <%= link_to 'Edit',
                        edit_news_item_path(news_item) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @news_items %>
<% else %>
  <div class="govuk-inset-text">
    <p>No News stories</p>
  </div>
<% end %>
