<h2>
  Manage exempting additional code overrides
</h2>

<%= link_to 'Add a Exempting Additional Code Override', new_green_lanes_exempting_additional_code_override_path, class: 'govuk-button' %>

<% if @exempting_additional_code_overrides.any? %>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Additional Code Type</th>
      <th>Additional Code</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @exempting_additional_code_overrides.each do |adco| %>
      <tr id="<%= dom_id(adco) %>">
        <td><%= adco.id %></td>
        <td><%= adco.additional_code_type_id %></td>
        <td><%= adco.additional_code %></td>
        <td>
          <%= link_to 'Remove',
                      green_lanes_exempting_additional_code_override_path(adco),
                      method: :delete,
                      class: 'govuk-button govuk-button--warning',
                      data: { confirm: "Are you sure?", disable: 'Working ...' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @exempting_additional_code_overrides %>
<% else %>
  <div class="govuk-inset-text">
    <p>No Exempting Additional Code Override</p>
  </div>
<% end %>
