<h2>
  Manage exempting certificate overrides
</h2>

<% if policy(GreenLanes::ExemptingOverride).create? %>
  <%= link_to 'Add a Exempting Certificate Override', new_green_lanes_exempting_certificate_override_path, class: 'govuk-button' %>
<% end %>

<% if @exempting_certificate_overrides.any? %>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Certificate Type Code</th>
      <th>Certificate Code</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @exempting_certificate_overrides.each do |eco| %>
      <tr id="<%= dom_id(eco) %>">
        <td><%= eco.id %></td>
        <td><%= eco.certificate_type_code %></td>
        <td><%= eco.certificate_code %></td>
        <td>
          <% if policy(GreenLanes::ExemptingOverride).destroy? %>
            <%= link_to 'Remove',
                        green_lanes_exempting_certificate_override_path(eco),
                        method: :delete,
                        class: 'govuk-button govuk-button--warning',
                        data: { confirm: "Are you sure?", disable: 'Working ...' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @exempting_certificate_overrides %>
<% else %>
  <div class="govuk-inset-text">
    <p>No Exempting Certificate Override</p>
  </div>
<% end %>
