<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2>Tariff Updates - <%= service_update_type %></h2>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-button-group">
      <%= button_to 'Download', download_tariff_updates_path, method: :post, class: 'govuk-button' %>
      <%= button_to 'Apply', apply_tariff_updates_path, method: :post, class: 'govuk-button' %>
    </div>
  </div>
</div>

<table class='table table-bordered table-striped table-condensed table-tariff-updates'>
  <thead>
    <tr>
      <th class='span2'>State</th>
      <th class='span2'>Issue date</th>
      <th class='span2'>Applied at</th>
      <th class='span2'>File size</th>
      <th class='span2'>Inserts</th>
      <th class='span2'>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tariff_updates.each do |tariff_update| %>
      <tr id='<%= dom_id(tariff_update) %>'>
        <td>
          <%= tariff_update.state %>

          <% if tariff_update.exception_class.present? %>
            <%= render "exception", tariff_update: tariff_update %>
          <% end %>

          <% if tariff_update.presence_errors.present? %>
            <%= render "presence_errors", tariff_update: tariff_update %>
          <% end %>
        </td>
        <td><%= l(tariff_update.issue_date, format: :tariff) %></td>
        <td><%= l(tariff_update.applied_at, format: :tariff) if tariff_update.applied_at %></td>
        <td><%= number_to_human_size(tariff_update.filesize) %></td>
        <td>
          <a class="govuk-link" href="#">
            <%= link_to "Review inserts", tariff_update_path(tariff_update) %>
          </a>
        </td>
        <td><%= render "actions", tariff_update: tariff_update %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @tariff_updates %>
</div>
