<%= govuk_breadcrumbs 'Sections': synonyms_sections_path,
                      'Commodities': synonyms_heading_commodities_path(heading_id: commodity.heading_id) %>

<h2>Search synonyms <%= commodity.reference_title %></h2>

<%= link_to 'New Search Synonym', new_synonyms_commodity_search_reference_path(commodity), class: 'govuk-button' %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th class="hott-actions-col">
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% @search_references.each do |search_reference| %>
      <tr id="<%= dom_id(search_reference) %>">
        <td><%= search_reference.title %></td>
        <td class="hott-link-group">
          <%= link_to "Edit", edit_synonyms_commodity_search_reference_path(commodity, search_reference) %>
          <%= link_to "Remove", synonyms_commodity_search_reference_path(commodity, search_reference), method: :delete, data: { confirm: 'Are you sure?', disable: 'Working'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @search_references %>
