<%= govuk_breadcrumbs 'Edit section notes': root_path %>

<h2>
  Chapters of section: <%= section.title %>
</h2>

<table>
  <thead>
    <tr>
      <th>Chapter</th>
      <th>Headings</th>
      <th>Title</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @chapters.each do |chapter| %>
      <tr id="<%= dom_id(chapter) %>">
        <td><%= chapter.short_code %></td>
        <td><%= chapter.headings_range %></td>
        <td><%= chapter.description.titleize %></td>
        <td>
          <% if chapter.has_chapter_note? %>
            <%= link_to "Edit", edit_notes_chapter_chapter_note_path(chapter) %>
          <% else %>
            <%= link_to "Add", new_notes_chapter_chapter_note_path(chapter) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
