<%= form_with url: url, method: :get, local: true do %>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      Release this reference to
    </legend>

    <div class="govuk-form-group">
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <%= check_box_tag :release_to_uk, "1", release_service_selected?("uk"), class: "govuk-checkboxes__input", id: "release_to_uk" %>
          <%= label_tag :release_to_uk, "UK service", class: "govuk-label govuk-checkboxes__label" %>
        </div>

        <div class="govuk-checkboxes__item">
          <%= check_box_tag :release_to_xi, "1", release_service_selected?("xi"), class: "govuk-checkboxes__input", id: "release_to_xi" %>
          <%= label_tag :release_to_xi, "Northern Ireland service", class: "govuk-label govuk-checkboxes__label" %>
        </div>
      </div>
    </div>
  </fieldset>

  <%= submit_tag "Apply service selection", class: "govuk-button govuk-button--secondary", data: { module: "govuk-button" } %>
<% end %>
