<h2>Import search synonyms</h2>

<%= govuk_form_for :synonyms_import, url: synonyms_import_path do |f| %>
  <div class="govuk-inset-text">
    <p>Sample CSV file:</p>

    <table>
      <thead>
        <tr>
          <th>goods_nomenclature_item_id</th>
          <th>title</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>8402000000</td>
          <td>machine tools</td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>Upload CSV with synonyms. Synonyms are overriden if ID is provided</p>

  <%= f.govuk_file_field :file, accept: 'text/csv' %>

  <div class="govuk-button-group">
    <%= f.govuk_submit 'Import synonyms from CSV' %>
    <%= link_to 'Back', :back, class: 'govuk-button govuk-button--secondary' %>
  </div>
<% end %>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3>Import Tasks:</h3>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Created</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <%= render @import_tasks %>
  </tbody>
</table>
