<!DOCTYPE html>
<html lang="en" class="govuk-template--rebranded">
  <head>
    <title><%= TradeTariffAdmin::ServiceChooser.service_name.upcase %> - Trade Tariff Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: asset_pack_path('media/images/govuk-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#1d70b8' %>
    <%= favicon_link_tag asset_pack_path('media/images/favicon.ico'), sizes: '48x48' %>
    <%= favicon_link_tag asset_pack_path('media/images/favicon.svg'), sizes: 'any' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-icon-mask.svg'), rel: 'mask-icon', type: 'image/svg', color: "#0b0c0c" %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-icon-180.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="govuk-template__body ">
  <%= javascript_tag nonce: true do -%>
    document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
  <% end -%>

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    <%= govuk_header(service_name: "Trade Tariff Admin") do |header| %>
      <%= header.with_navigation_item text: "Section & chapter notes",
                                      href: root_path,
                                      active: active_nav_link?(/\/notes|trade-tariff-admin$/) %>
      <%= header.with_navigation_item text: "Search references",
                                      href: references_sections_path,
                                      active: active_nav_link?(/\/search_references/) %>
      <%= header.with_navigation_item text: "News",
                                      href: news_items_path,
                                      active: active_nav_link?(/\/news_items/) %>
      <%= header.with_navigation_item text: "Live Issues",
                                      href: live_issues_path,
                                      active: active_nav_link?(/\/live_issues/) if TradeTariffAdmin::ServiceChooser.uk? %>
      <%= header.with_navigation_item text: "Quotas",
                                      href: new_quota_path,
                                      active: active_nav_link?(/\/quotas/) if TradeTariffAdmin::ServiceChooser.uk? %>

      <% if respond_to?(:policy) || !TradeTariffAdmin.authorization_enabled? %>
        <% if !TradeTariffAdmin.authorization_enabled? || policy(Update).access? %>
          <%= header.with_navigation_item text: "Updates",
                                          href: tariff_updates_path,
                                          active: active_nav_link?(/\/tariff_updates/)  %>
        <% end %>
        <% if !TradeTariffAdmin.authorization_enabled? || policy(Update).access? %>
          <%= header.with_navigation_item text: "Rollbacks",
                                          href: rollbacks_path,
                                          active: active_nav_link?(/\/rollbacks/) %>
        <% end %>
      <% end %>
      <% if TradeTariffAdmin::ServiceChooser.xi? %>
        <%= header.with_navigation_item text: 'Category assessments',
                                        href: green_lanes_category_assessments_path,
                                        active: active_nav_link?(/\/category_assessments/) %>
        <%= header.with_navigation_item text: 'Exemptions',
                                        href: green_lanes_exemptions_path,
                                        active: active_nav_link?(/\/exemptions/) %>
        <%= header.with_navigation_item text: 'Measures',
                                        href: green_lanes_measures_path,
                                        active: active_nav_link?(/\/measures/) %>
        <%= header.with_navigation_item text: 'Exempting Overrides',
                                        href: green_lanes_exempting_overrides_path,
                                        active: active_nav_link?(/\/exempting_overrides/) %>
        <%= header.with_navigation_item text: 'Update Notifications',
                                        href: green_lanes_update_notifications_path,
                                        active: active_nav_link?(/\/update_notifications/) %>
        <%= header.with_navigation_item text: 'Measure Type Mappings',
                                      href: green_lanes_measure_type_mappings_path,
                                      active: active_nav_link?(/\/measure_type_mappings/) %>
      <% end %>
    <% end %>

    <div class="govuk-width-container">
      <%= render 'application/auth_banner' %>

      <main class="govuk-main-wrapper " id="main-content" role="main">
        <%= render 'flashes' %>

        <div class="govuk-auto-classes">
          <%= yield %>
        </div>
      </main>
    </div>

    <%= govuk_footer %>
  </body>
</html>
