<!DOCTYPE html>
<html lang="en" class="govuk-template--rebranded">
  <head>
    <title><%= TradeTariffAdmin::ServiceChooser.service_name.upcase %> - Trade Tariff Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: asset_pack_path('media/images/govuk-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#1d70b8' %>
    <%= favicon_link_tag asset_pack_path('media/images/favicon.ico'), sizes: '48x48' %>
    <%= favicon_link_tag asset_pack_path('media/images/favicon.svg'), sizes: 'any' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-icon-mask.svg'), rel: 'mask-icon', type: 'image/svg', color: "#0b0c0c" %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-icon-180.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="govuk-template__body ">
  <%= javascript_tag nonce: true do -%>
    document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
  <% end -%>

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    <%= govuk_header(homepage_url: "/") %>

    <%= govuk_service_navigation(
          service_name: "Trade Tariff Admin",
          service_url: default_landing_path,
        ) do |nav| %>
      <% visible_navigation_sections.each do |section| %>
        <%= nav.with_navigation_item(
              text: section.label,
              href: section_href(section),
              active: section_active?(section),
            ) %>
      <% end %>
    <% end %>

    <% if current_navigation_section&.items&.present? %>
      <%= render "application/sub_navigation", section: current_navigation_section %>
    <% end %>

    <div class="govuk-width-container">
      <%= render 'application/auth_banner' %>

      <main class="govuk-main-wrapper " id="main-content" role="main">
        <%= render 'flashes' %>

        <div class="govuk-auto-classes">
          <%= yield %>
        </div>
      </main>
    </div>

    <%= govuk_footer %>
  </body>
</html>
